@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Phetsarath';
  src: url('@/assets/fonts/NotoSerifLao.ttf') format('truetype'); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}

/* Apply Tailwind's default body styles using Phetsarath */
body {
  @apply font-phetsarath;
}

/* Global Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Smooth scrolling for the container */
.smooth-scroll {
  scroll-behavior: smooth; /* Enables smooth scrolling */
  -webkit-overflow-scrolling: touch; /* Adds smooth momentum scrolling on iOS */
}

@media (max-width: 768px) {
  .smooth-scroll {
    -webkit-overflow-scrolling: touch; /* For iOS smooth scrolling */
  }
}

/* Hide the scrollbar visually but keep content scrollable */
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Optional Custom CSS */
.scrollable-detail {
  max-height: 200px;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f9fafb; /* Light Gray (Tailwind's bg-gray-50) */
  border: 1px solid #e5e7eb; /* Light border */
  border-radius: 0.375rem; /* Rounded corners (Tailwind's rounded-md) */
  font-size: 1rem; /* Adjust font size if needed */
  line-height: 1.6; /* Better line spacing */
}

/* CSS for the fade animation */
.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* CSS for the dropdown container */
.dropdown-container {
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.dropdown-container.opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.dropdown-container.opacity-100 {
  opacity: 1;
  visibility: visible;
}
