@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Phetsarath";
  src: url("@/assets/fonts/PhetsarathOT.ttf") format("truetype"); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}

/* Apply Tailwind's default body styles using Phetsarath */
body {
  @apply font-phetsarath;
}

/* Smooth scrolling for the container */
.smooth-scroll {
  scroll-behavior: smooth; /* Enables smooth scrolling */
  -webkit-overflow-scrolling: touch; /* Adds smooth momentum scrolling on iOS */
}

/* Hide the scrollbar visually but keep content scrollable */
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}